<div align="center">
    <img src="TUMS-Logo.png" width="250" height="250">
    <br>
    <font color="#0F5298" size="8">
        Introduction to Machine Learning
    </font>
    <br>
    <br>
    <br>
    <font color="orange" size="5">
        Benyamin Ghanbari
    </font>
</div>

# Numpy & Pandas

In [2]:
import numpy as np
import pandas as pd

**Numpy**

In [5]:
# Create a 1D array
a = np.array([1, 2, 3, 4, 5])
print("1D Array:", a)

1D Array: [1 2 3 4 5]

In [6]:
# Create a 2D array
b = np.array([[1, 2, 3], [4, 5, 6]])
print("\n2D Array:")
print(b)

2D Array:
[[1 2 3]
 [4 5 6]]

In [7]:
# Array properties
print("\nArray Shape:", b.shape)
print("Array Size:", b.size)
print("Array Data Type:", b.dtype)

Array Shape: (2, 3)
Array Size: 6
Array Data Type: int32

In [8]:
# Element-wise operations
print("\nAddition:", a + 10)
print("Multiplication:", a * 2)
print("Exponentiation:", np.power(a, 2))

Addition: [11 12 13 14 15]
Multiplication: [ 2  4  6  8 10]
Exponentiation: [ 1  4  9 16 25]

In [9]:
# Reshape array
c = np.arange(12).reshape(3, 4)
print("\nReshaped Array:")
print(c)

Reshaped Array:
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [10]:
# Slicing
print("\nSlice:", c[1, 2])  # Access element at row 1, column 2
print("Row 2:", c[2, :])
print("Column 3:", c[:, 3])

Slice: 6
Row 2: [ 8  9 10 11]
Column 3: [ 3  7 11]

In [11]:
# Boolean indexing
print("\nElements > 5:", c[c > 5])

Elements > 5: [ 6  7  8  9 10 11]

In [12]:
# Aggregation functions
print("\nSum:", c.sum())
print("Mean:", c.mean())
print("Standard Deviation:", c.std())

Sum: 66
Mean: 5.5
Standard Deviation: 3.452052529534663

In [13]:
# Creating special arrays
zeros = np.zeros((2, 3))
print("\nZeros Array:")
print(zeros)

Zeros Array:
[[0. 0. 0.]
 [0. 0. 0.]]

In [14]:
# Creating special arrays
ones = np.ones((3, 3))
print("\nOnes Array:")
print(ones)

Ones Array:
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [15]:
identity = np.eye(4)
print("\nIdentity Matrix:")
print(identity)

Identity Matrix:
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [16]:
# Random number generation
rand_array = np.random.rand(2, 2)
print("\nRandom Array:")
print(rand_array)

Random Array:
[[0.95456888 0.19161479]
 [0.78425404 0.25771596]]

In [17]:
rand_ints = np.random.randint(0, 10, size=(3, 3))
print("\nRandom Integers Array:")
print(rand_ints)

Random Integers Array:
[[5 0 0]
 [3 5 9]
 [3 3 4]]

In [18]:
# Linear algebra
matrix_a = np.array([[1, 2], [3, 4]])
matrix_b = np.array([[5, 6], [7, 8]])

matrix_mult = np.dot(matrix_a, matrix_b)
print("\nMatrix Multiplication:")
print(matrix_mult)

matrix_transpose = matrix_a.T
print("\nTranspose of Matrix A:")
print(matrix_transpose)

Matrix Multiplication:
[[19 22]
 [43 50]]

Transpose of Matrix A:
[[1 3]
 [2 4]]

In [19]:
# Statistical operations
print("\nMin of Array A:", np.min(matrix_a))
print("Max of Array A:", np.max(matrix_a))
print("Median of Array A:", np.median(matrix_a))
print("Variance of Array A:", np.var(matrix_a))

Min of Array A: 1
Max of Array A: 4
Median of Array A: 2.5
Variance of Array A: 1.25

In [20]:
# Broadcasting example
a = np.array([1, 2, 3])
b = np.array([[1], [2], [3]])
print("\nBroadcasted Addition:")
print(a + b)

Broadcasted Addition:
[[2 3 4]
 [3 4 5]
 [4 5 6]]

In [22]:
# Dimension
np.ndim(matrix_a)

2

In [23]:
# Stack arrays vertically
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
vstacked = np.vstack((array1, array2))
print("\nVertically Stacked Arrays:")
print(vstacked)

# Stack arrays horizontally
hstacked = np.hstack((array1.reshape(-1, 1), array2.reshape(-1, 1)))
print("\nHorizontally Stacked Arrays:")
print(hstacked)

Vertically Stacked Arrays:
[[1 2 3]
 [4 5 6]]

Horizontally Stacked Arrays:
[[1 4]
 [2 5]
 [3 6]]

In [24]:
# Change datatype of array
float_array = a.astype(float)
print("\nArray with Float Data Type:")
print(float_array)

Array with Float Data Type:
[1. 2. 3.]

In [26]:
# Search 
# Find the indexes where the value is 4:
arr = np.array([1, 2, 3, 4, 5, 4, 4])
x = np.where(arr == 4)
print(x)

(array([3, 5, 6], dtype=int64),)

In [28]:
# Joining NumPy Arrays
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.concatenate((arr1, arr2))
print(arr)

[1 2 3 4 5 6]

In [29]:
# Joining NumPy Arrays
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])
arr = np.concatenate((arr1, arr2), axis=1)
print(arr)

[[1 2 5 6]
 [3 4 7 8]]

**Pandas**

In [25]:
# Create a DataFrame from a dictionary
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
# Read data from csv file
df = pd.read_csv('data/HeartAttack.csv')
# Show first 10 row
df.head(10)

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,63,1,66,160,83,160.0,1.80,0.012,negative
1,20,1,94,98,46,296.0,6.75,1.060,positive
2,56,1,64,160,77,270.0,1.99,0.003,negative
3,66,1,70,120,55,270.0,13.87,0.122,positive
4,54,1,64,112,65,300.0,1.08,0.003,negative
5,52,0,61,112,58,87.0,1.83,0.004,negative
6,38,0,40,179,68,102.0,0.71,0.003,negative
7,61,1,60,214,82,87.0,300.00,2.370,positive
8,49,0,60,154,81,135.0,2.35,0.004,negative
9,65,1,61,160,95,100.0,2.84,0.011,negative